<div class="row" id="pesajeDiv">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-12">

                        <span class="text-info bg-red">Texto capturado: {{searchValue}}</span>

                        <div class="outer">
                            <div class="inner">
                                <input style="overflow: hidden; position: relative;" type="text" name="search"
                                    id="search" #search [(ngModel)]="searchValue">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h1 class="font-weight-bold display-4">10001 | Salami Buen Dia </h1>
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>

                                    <tr>
                                        <th scope="row">
                                            <h1>
                                                <span class="font-weight-bold">Peso Neto : 369.25 Lb</span>
                                            </h1>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th scope="row">
                                            <h1>
                                                <span class="font-weight-bold">Vencimiento : 12 Feb 2021</span>
                                            </h1>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="row">Almacén</th>
                                        <td>Almacén general</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CANASTILLA ROJA PLANTA </th>
                                        <td>15.25 Lb</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">PALETAS PLASTICAS IPS PPP 1200X1000 GRIS
                                        </th>
                                        <td>15.25 Lb</td>
                                    </tr>
                                    <!-- <tr>
                                        <th scope="row">Chasis</th>
                                        <td>XXXXXXXXXXXXX</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Año</th>
                                        <td>2021</td>
                                    </tr> -->

                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr>

                        <div class="row">
                            <div class="col-md-8">
                                <ngx-barcode [bc-height]="50" [bc-value]="codigoBarra.padStart(10,'0')"
                                    [bc-display-value]="true">
                                </ngx-barcode>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/images/nutriciosa.png" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>