<div class="row">
  <div class="control-section">
    <div id="control_wrapper">
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
  </div>
</div>


<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulario de clientes</h4>
        <!-- <h6 class="card-subtitle">This is basic Default pagination</h6> -->
        <ngb-tabset>

          <ngb-tab>
            <ng-template ngbTabTitle><b>Generales</b></ng-template>
            <ng-template ngbTabContent>
              <app-cliente-datos-generales (clienteIdCreado)="setClienteIdGuardado($event)" [clientId]="clienteId"></app-cliente-datos-generales>
            </ng-template>
          </ngb-tab>

          <ngb-tab  [disabled]="clienteId<=0 ">
            <ng-template ngbTabTitle><b>Visitas/Rutas</b></ng-template>
            <ng-template ngbTabContent>
            <app-cliente-visitas [clientId]="clienteId"></app-cliente-visitas>
            </ng-template>
          </ngb-tab>

          <ngb-tab [disabled]="clienteId<=0 ">
            <ng-template ngbTabTitle><b>Contactos</b></ng-template>
            <ng-template ngbTabContent>
            <app-cliente-contactos [clientId]="clienteId"></app-cliente-contactos>
            </ng-template>
          </ngb-tab>

          <ngb-tab [disabled]="clienteId<=0">
            <ng-template ngbTabTitle><b>Finanzas</b></ng-template>
            <ng-template ngbTabContent>
              <app-cliente-finanzas [clientId]="clienteId"></app-cliente-finanzas>
            </ng-template>
          </ngb-tab>


          <ngb-tab [disabled]="clienteId<=0">
            <ng-template ngbTabTitle><b>Comercial</b></ng-template>
            <ng-template ngbTabContent>
              <app-cliente-comercial [clientId]="clienteId"></app-cliente-comercial>
            </ng-template>
          </ngb-tab>

          <ngb-tab [disabled]="clienteId<=0">
            <ng-template ngbTabTitle><b>Imagen cliente/negocio</b></ng-template>
            <ng-template ngbTabContent>
              <app-cliente-negocio [clientId]="clienteId"></app-cliente-negocio>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

</div>