<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="row  mb-2">
                <div class="col-md-9 align-middle">
                  <h4 class="card-title">Listado de  despachos </h4>
                </div>
                <div class="col-md-3 text-right">
                  <ejs-datepicker [allowEdit]="false" [showClearButton]="false" (change)="onChangeFechaDesdeFiltro($event)"
                    [(ngModel)]="fecha" [format]="'dd-MM-yyyy'">
                  </ejs-datepicker>
                </div>

              </div>
              <div class="table-responsive mt-3">
                <table class="table table-hover mb-0 no-wrap v-middle">
                  <thead>
                    <tr>
                      <th scope="col">Acciones</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Distribuidor</th>
                      <th scope="col">Asignado A -></th>
                      <th scope="col">Sucursal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let item of dataPreventa; let i = index">
                      <td>


                        <div class="acciones-btn" *ngIf="validaDiferenciaMinimaDespacho(item)">

                          <button [disabled]="btnCargandoPrint" class="btn  font-bold btn-secondary m-1"
                            (click)="exportDespachoPreventaDetalle(item,1)">
                            <i class="fa fa-print" aria-hidden="true"></i>
                          </button>

                          <button [disabled]="btnCargandoPrint" class="btn  font-bold btn-secondary te m-1"
                            (click)="exportDespachoPreventaDetalle(item,2)">
                            <i class="fa fa-file-excel" aria-hidden="true"></i>
                          </button>
                        </div>

                        <div class="acciones-mensaje" *ngIf="!validaDiferenciaMinimaDespacho(item)">
                          <span class=" font-bold text-info">Sincronizando</span>
                        </div>
                      </td>


                      <td>
                        <span class="text-dark font-bold"><i class="far fa-calendar"></i>
                        {{item.fechaEntrega | date:'MMM d, y' }}
                       </span>
                      </td>

                      <td>
                        <div class="d-flex align-items-center">
                          <div class="ml-3">
                            <p class="font-bold mb-0">{{item.distribuidor | titlecase }} <span class="text-info">{{item.ruta }}</span>
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>
                         <span *ngIf="item.despachador==null" class="badge badge-secondary font-weight-bold">No Asignado</span>
                         <span *ngIf="item.despachador!=null" class="badge badge-info font-weight-bold">{{item.despachador}}</span>

                      </td>
                      <td>
                        <span class="font-weight-bold" ><i class="fa fa-map-marker  text-secondary"></i> Romana</span>
                       </td>
                    </tr>
                  </tbody>
                </table>
               </div>
          </div>
      </div>
  </div>
</div>
