
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 p-2" >
                      <label>Busqueda por lector</label>
                        <div class="input-group">
                            <input [ngModel]='search' [disabled]="searching" (ngModelChange)='onSearchChange($event)' type="text" id="inputSearch"
                                style="border-left:none !important;" class="form-control" placeholder="Buscar despachador ">

                            <div class="input-group-prepend">
                                <label for="search" class="input-group-text bg-white" style="cursor: pointer;"
                                    (click)="onClearSearch()">
                                    <span class=" bg-white" style="border-right:none">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center mt-4 pt-4 text-info">
                        <h5 *ngIf="searching" > <span class="text-info font-weight-bold"><i class="fa fa-spinner fa-spin"></i> Buscando usuario</span> </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-despacho-asignacion-listado   (dataPreventaEmit)="refreshData($event)"></app-despacho-asignacion-listado>





<ng-template #modalConfirm let-modal>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Confirmación</h4>
          <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <i class="fa fa-question fa-3x text-info"></i>
          <p class="mt-2"><strong>¿Estás seguro?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Cancel</button>
          <button type="button" class="btn btn-info" (click)="onBtnModalOk()">Ok</button>
        </div>
      </div>
    </div>

    <app-loading-listado [hidden]="!cargandoAutorizacion"></app-loading-listado>

  </div>
</ng-template>
