<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Formulario de cotizaciones</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">
                    </div>
                </div>
                <div class="form-row m-t-40">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Cliente</label>
                        <ng-select [ngModelOptions]="{standalone: true}" [(ngModel)]="clienteID" bindLabel="nombre"
                            bindValue="codigo" [items]="clientes" [loading]="loadingClientes" [clearable]="false"
                            (search)="getClientes($event)" (change)="onSelectCliente($event)"
                            notFoundText="No resultados">
                        </ng-select>
                    </div>





                    <hr>
                    <div class="col-12">
                        <div class="row border border-light p-2" *ngIf="cliente">
                            <div class="col-12">
                                <h6 class="card-subtitle">Datos del cliente.</h6>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre"><i class="fa fa-hashtag"></i> Código</label>
                                <input [(ngModel)]="cliente.codigoReferencia" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="nombre"> <i class="fa fa-user"></i> Nombres</label>
                                <input [(ngModel)]="cliente.nombres +' '+ cliente.apellidos" class="form-control"
                                    [readonly]="'true'" type="text" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="nombre"> <i class="fa fa-id-card"></i> Documento</label>
                                <input [(ngModel)]="cliente.documento" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="condicionPagoId"> Condición de pago</label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="TipoCondicionPagos"
                                    [loading]="loadingCondicionPagos" [clearable]="false"
                                    [(ngModel)]="cliente.condicionPagoId" [readonly]="true"
                                    [ngModelOptions]="{standalone: true}" notFoundText="No resultados">
                                </ng-select>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="nombre"> <i class="fa fa-map-marker"></i> Dirección</label>
                                <input [(ngModel)]="cliente.calle" class="form-control" [readonly]="'true'" type="text"
                                    [ngModelOptions]="{standalone: true}">
                            </div>




                        </div>
                    </div>

                    <!-- <div class="form-group col-md-6" *ngIf="cliente">
                        <label for="codigoReferencia">
                            Código de Referencia Cotización
                        </label>
                        <input formControlName="codigoReferencia" type="text" name="codigoReferencia"
                            id="codigoReferencia"
                            [ngClass]="{'is-invalid' : submitted && f.codigoReferencia.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.codigoReferencia.errors">
                            <div *ngIf="f.codigoReferencia.errors.required">El campo es obligatorio</div>
                        </div>
                    </div> -->

                    <div class="form-group col-md-6" *ngIf="cliente">
                        <label for="inputEmail4">Moneda</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="monedaTipos"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="monedaID" [loading]="loadingMonedaTipos"
                            [clearable]="false" notFoundText="No resultados">
                        </ng-select>
                    </div>

                    <div class="form-group col-md-6" *ngIf="cliente">
                        <label for="inputEmail4">Vendedor</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="vendedores"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="vendedorId" [loading]="loadingVendedores"
                            [clearable]="false" notFoundText="No resultados">
                        </ng-select>
                    </div>


                    <!-- <div class="col-12" [hidden]="loadingArticulosSeleccionados"> -->
                    <div class="col-12" *ngIf="cliente">
                        <table class="table table-sm table-hover mb-0 no-wrap v-middle">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Artículo</th>
                                    <th>Precio</th>
                                    <th>Almacen</th>
                                    <th>Cant.</th>
                                    <th>% Desc.</th>
                                    <th>SubTotal</th>
                                    <th>Desc.</th>
                                    <th>ITBIS</th>
                                    <th>Total Neto</th>
                                    <th></th>
                                    <!-- <th scope="col">Fecha de aplicación</th> -->
                                </tr>
                            </thead>

                            <tbody>

                                <!-- <tr *ngFor="let item of confirmed | filter: searchText; let i  = index"> -->
                                <tr *ngFor="let item of articulosCotizacion; let i=index">
                                    <td>
                                        <button *ngIf="item.id" class="btn btn-sm btn-light m-1"
                                            (click)="openModal(modalExistenciaArticuloAlmacenes,item.id)">
                                            <i class=" fa fa-sm fa-warehouse"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <ng-select style="width: 500px;" [items]="articulosCombobox" bindLabel="nombre"
                                            [clearable]="false" bindValue="id" [loading]="loadingArticulos"
                                            [(ngModel)]="item.id" [ngModelOptions]="{standalone: true}"
                                            (change)="onSelectArticulo($event,i)" notFoundText="No resultados">
                                        </ng-select>
                                    </td>
                                    <td>
                                        <input style="width: 100px;" type="text" class="form-control" prefix="$ "
                                            [(ngModel)]="item.precio" [ngModelOptions]="{standalone: true}"
                                            [readonly]="'true'" mask="separator" thousandSeparator=",">
                                    </td>
                                    <td>
                                        <ng-select [items]="almacenes" bindLabel="codigo" bindValue="codigo"
                                            [loading]="loadingAlmacenes" [(ngModel)]="item.almacenId"
                                            [readonly]="!item.id" [clearable]="false"
                                            [ngModelOptions]="{standalone: true}" notFoundText="No resultados">
                                        </ng-select>
                                    </td>
                                    <td>
                                        <input style="width: 70px;" type="number" class="form-control"
                                            [readonly]="!item.id" (keyup)="calcularTotales()"
                                            [(ngModel)]="item.cantidad" [ngModelOptions]="{standalone: true}">
                                    </td>

                                    <td>
                                        <input style="width: 50px;" type="number" class="form-control"
                                            [readonly]="!item.id" (keyup)="calcularTotales()"
                                            [(ngModel)]="item.porcientoDescuento" [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td>
                                        <span>${{ item.subtotal | number:'1.2-2'}}</span>
                                    </td>
                                    <td>
                                        <span>${{ item.totalDescuento | number:'1.2-2'}}</span>
                                    </td>
                                    <td>
                                        <span>${{ item.totalImpuesto | number:'1.2-2'}}</span>
                                    </td>
                                    <td>
                                        <span>${{ item.totalNeto | number:'1.2-2'}}</span>
                                    </td>
                                    <td>
                                        <button (click)="onDeleteitem(i)" type="button"
                                            class="btn btn-sm btn-outline-danger">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- <div class="col-12">
                        <app-loading-listado [hidden]="!loadingArticulosSeleccionados"></app-loading-listado>
                    </div> -->


                    <div class="form-group text-right col-md-12" *ngIf="cliente">
                        <hr>
                        <h4>Subtotal: $ {{subTotalCotizacion | number:'1.2-2' }}</h4>
                        <h4>Descuento: $ {{totalDescuentoCotizacion | number:'1.2-2' }}</h4>
                        <h4>Impuesto: $ {{totalImpuestoCotizacion | number:'1.2-2' }}</h4>
                        <h4 class="font-weight-bold">Total Neto: $ {{totalNetoCotizacion | number:'1.2-2' }}</h4>
                    </div>


                    <div class="form-group text-right col-md-12" *ngIf="cliente">
                        <hr />

                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>

                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="button" (click)="onSubmit()">
                            <i class="fas fa-check"></i> Guardar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #modalExistenciaArticuloAlmacenes let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Existencia en almacenes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12" [hidden]="loadingArticuloBalance">

                <div class="table-responsive">
                    <table class="table table-sm table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Artículo</th>
                                <th>Almacen</th>
                                <th>Existencia</th>
                                <!-- <th>Estado</th> -->
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of articuloBalance">
                                <td><span class="badge badge-light text-info ">{{item.id}}</span></td>
                                <td>
                                    <span> {{item.articulo}}</span>
                                </td>
                                <td>
                                    <span> #{{item.almacenID}} {{item.almacen}} </span>
                                </td>
                                <td>
                                    <span> {{item.existencia}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <h3>
                                        <span class="font-weight-bold"> {{totalCantidadExistencia | number}}</span>
                                    </h3>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>


            </div>

            <div class="col-12">
                <app-loading-listado [hidden]="!loadingArticuloBalance"></app-loading-listado>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light m-1" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>