<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Formulario de cotizaciones</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">
                    </div>
                </div>
                <!--<h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6>-->
                <form class="form-row m-t-40" [formGroup]="Formulario" (ngSubmit)="onSubmit()">


                    <!--cliente-->
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Cliente</label>
                        <ng-select bindLabel="nombre" bindValue="codigo" [items]="clientes" [loading]="loadingClientes"
                            [clearable]="false" (search)="getClientes($event)" (change)="onSelectCliente($event)"
                            [ngClass]="{'form-control border-danger p-0' : submitted && f.clienteID.errors }"
                            notFoundText="No resultados" formControlName="clienteID">
                        </ng-select>
                        <div *ngIf="submitted && f.clienteID.errors"
                            class="text-danger small animated animated--fade-in">
                            <div *ngIf="f.clienteID.errors.required  ">El campo es obligatorio</div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row border border-light p-2" *ngIf="cliente">

                            <div class="form-group col-md-6">
                                <label for="nombre"><i class="fa fa-hashtag"></i> Código</label>
                                <input [(ngModel)]="cliente.codigoReferencia" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}" name="nombre" id="nombre">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="nombre"> <i class="fa fa-user"></i> Nombres</label>
                                <input [(ngModel)]="cliente.nombres +' '+ cliente.apellidos" class="form-control"
                                    [readonly]="'true'" type="text" [ngModelOptions]="{standalone: true}" name="nombre"
                                    id="nombre">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="nombre"> <i class="fa fa-id-card"></i> Documento</label>
                                <input [(ngModel)]="cliente.documento" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}" name="nombre" id="nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre"> <i class="fa fa-map-marker"></i> Dirección</label>
                                <input [(ngModel)]="cliente.documento" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}" name="nombre" id="nombre">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12" *ngIf="cliente">
                        <div class="card border border-info">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span>{{cliente.nombres}}</span>
                                    <span>{{ cliente.apellidos}}</span>
                                </h5>
                                <p><i class="fa fa-hashtag"></i> {{cliente.codigoReferencia}} </p>
                                <p><i class="fa fa-id-card"></i> {{cliente.documento}} </p>
                                <p><i class="fa fa-map-marker"></i> {{cliente.calle}} </p>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="form-group col-md-6">
                        <label for="codigoReferencia"> Código de Referencia</label>
                        <input formControlName="codigoReferencia" type="text" name="codigoReferencia"
                            id="codigoReferencia"
                            [ngClass]="{'is-invalid' : submitted && f.codigoReferencia.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.codigoReferencia.errors">
                            <div *ngIf="f.codigoReferencia.errors.required">El campo es obligatorio</div>
                        </div>
                    </div> -->

                    <!-- <div class="col-12" [hidden]="loadingArticulosSeleccionados"> -->
                    <div class="col-12">

                        <div class="table-responsive" style="height: 400px;">
                            <table class="table table-hover mb-0 no-wrap v-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">Artículo</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Total</th>
                                        <th scope="col"></th>
                                        <!-- <th scope="col">Fecha de aplicación</th> -->
                                    </tr>
                                </thead>

                                <!-- <tbody [hidden]="loadingArticulosSeleccionados"> -->
                                <tbody>

                                    <!-- <tr *ngFor="let item of confirmed | filter: searchText; let i  = index"> -->
                                    <tr>
                                        <td>
                                            <ng-select style="width: 500px;" [items]="articulos" bindLabel="nombre"
                                                bindValue="codigo" [loading]="loadingArticulos"
                                                notFoundText="No resultados">
                                            </ng-select>
                                        </td>
                                        <td>
                                            <input style="width: 200px;" type="text" class="form-control" prefix="$ "
                                                mask="separator" thousandSeparator=",">
                                        </td>
                                        <td>
                                            <input style="width: 100px;" type="text" class="form-control"
                                                mask="separator" thousandSeparator=",">
                                        </td>
                                        <td>
                                            <span>$155.00</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ng-select style="width: 500px;" notFoundText="No resultados"> </ng-select>
                                        </td>
                                        <td>
                                            <input style="width: 200px;" type="text" class="form-control" prefix="$ "
                                                mask="separator" thousandSeparator=",">
                                        </td>
                                        <td>
                                            <input style="width: 100px;" type="text" class="form-control"
                                                mask="separator" thousandSeparator=",">
                                        </td>
                                        <td>
                                            <span>$155.00</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>

                    <!-- <div class="col-12">
                        <app-loading-listado [hidden]="!loadingArticulosSeleccionados"></app-loading-listado>
                    </div> -->


                    <div class="form-group text-right col-md-12">
                        <hr />

                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>

                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                            <i class="fas fa-check"></i> Guardar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>