<div class="row" *ngxPermissionsOnly="['autorizacion_lista_precios'] ; else PermissionDenied;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <!-- <h4 class="card-title">Pedidos por autorizar</h4> -->
                    </div>
                    <div class="col-md-6 text-right">



                        <!-- <button type="button"
                            [disabled]="!data || data.length == 0 || estadoAutorizacionComboModel != estadoAutorizacionUsuario"
                            (click)="autorizarMasiva()" class="btn btn-info"> <i class="fa fa-check"></i> Autorizar
                            todos
                        </button> -->

                        <!-- <button *ngIf="!loadingReporteExcel" type="button" (click)="exportarReporteExcel()"
                            class="btn btn-success ml-2"> <i class="fa fa-file-excel"></i>
                        </button> -->

                    </div>

                    <div class="col-md-8 p-2">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="search" class="input-group-text bg-white">
                                    <span class="bg-white" style="border-right:none">
                                        <i class="ti-search"></i>
                                    </span>
                                </label>
                            </div>
                            <input [(ngModel)]="Search" (keyup)="getData()" type="text"
                                style="border-left:none !important;" class="form-control" placeholder="Buscar">
                        </div>
                    </div>

                    <div class=" p-2 col-md-4">
                        <ng-select [items]="estadosAutorizacion" bindLabel="nombre" bindValue="codigo"
                            [searchable]="false" (change)="getData()" [clearable]="false"
                            [(ngModel)]="estadoAutorizacionComboModel">

                            <ng-template ng-label-tmp let-item="item">
                                <span>
                                    <i class="fa fa-circle" [ngStyle]="{'color': item.grupo}"></i> {{item.nombre}}
                                </span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <span>
                                    <i class="fa fa-circle" [ngStyle]="{'color': item.grupo}"></i> {{item.nombre}}
                                </span>
                            </ng-template>
                        </ng-select>
                    </div>


                </div>

                <div class="table-responsive">
                    <table class="table table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Pedido</th>
                                <th>Cliente</th>
                                <th>Total Pedido</th>
                            </tr>
                        </thead>
                        <tbody [hidden]="Cargando">

                            <tr *ngFor="let item of data">
                                <td>

                                    <!-- <button class="btn btn-sm btn-light m-1" *ngIf="!item.cargando"
                                        (click)="openModalComments(modalComments,item)">
                                        <i class="fa fa-sm fa-comment-dots"></i>
                                    </button> -->


                                    <button class="btn btn-sm btn-light m-1" *ngIf="!item.cargando"
                                        (click)="openModalAutorizar(modalConfirm,item)">
                                        <i class="fa fa-sm fa-eye"></i>
                                    </button>


                                    <ng-template
                                        [ngIf]="estadoAutorizacionAnterior && item.estadoAutorizacionId <= estadoAutorizacionAnterior.codigo">
                                        <!-- <ng-template
                                        [ngIf]="item.estadoAutorizacionId == 0 || item.estadoAutorizacionId == 1 && estadoAutorizacionUsuario > item.estadoAutorizacionId"> -->
                                        <!-- ESTADO PENDIENTE-->

                                        <!-- <button class="btn btn-sm btn-success m-1"
                                            *ngIf="!item.cargando && (estadoAutorizacionUsuario >= item.estadoAutorizacionId)"
                                            (click)="openModalConfirm(modalConfirm,ACTIONSenum.AUTORIZAR,item)">
                                            <i class="fa fa-sm fa-check"></i>
                                        </button> -->

                                        <!-- boton cargando -->
                                        <button *ngIf="item.cargando && isAutorizando" disabled
                                            class="btn btn-success m-1" type="button">
                                            <span class="spinner-border spinner-border-sm"></span>
                                        </button>

                                    </ng-template>


                                    <ng-template
                                        [ngIf]="item.estadoAutorizacionId == estadoAutorizacionUsuario && estadoAutorizacionAnterior">
                                        <!-- <ng-template
                                        [ngIf]="estadoAutorizacionUsuario == 2 && (item.estadoAutorizacionId == 1 || item.estadoAutorizacionId == 2)"> -->

                                        <!-- <button *ngIf="!item.cargando" class="btn btn-sm btn-warning m-1"
                                            (click)="openModalConfirm(modalConfirm,ACTIONSenum.DESAUTORIZAR,item)">
                                            <i class="fa fa-sm fa-times"></i>
                                        </button> -->

                                        <!-- boton cargando -->
                                        <button *ngIf="item.cargando && !isAutorizando " disabled
                                            class="btn btn-warning m-1" type="button">
                                            <span class="spinner-border spinner-border-sm"></span>
                                        </button>

                                    </ng-template>

                                </td>
                                <td>
                                    <span> {{ item.codigoReferencia }}</span>
                                </td>
                                <td>
                                    <span>{{item.cliente }}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">RD$ {{item.totalNeto | number: '1.2'}}</span>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>



                <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

                <div class="row ">
                    <div class="col-md-8 col-xs-12 ">
                        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                            [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getData()">
                        </ngb-pagination>
                    </div>

                    <div class="col-md-4 text-right d-none d-md-block  ">
                        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
                            (change)="getData()">
                            <option [ngValue]="5">5 registro por pagina</option>
                            <option [ngValue]="10">10 registro por pagina</option>
                            <option [ngValue]="15">15 registro por pagina</option>
                            <option [ngValue]="50">50 registro por pagina</option>
                            <option [ngValue]="100">100 registro por pagina</option>
                            <option [ngValue]="150">150 registro por pagina</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<ng-template #PermissionDenied>

    <app-error-permission-denied></app-error-permission-denied>

</ng-template>


<ng-template #modalConfirm let-modal>
    <div class="container-fluid">
        <div class="row" *ngIf="!cargandoAutorizacion">
            <div class="col">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Pedido #{{cotizacionSeleccionada.codigoReferencia}}</h4>
                    <button type="button" class="close" aria-describedby="modal-title"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="row">

                        <div class="col-12">
                            <h5 class="text-info"> <i class="fa fa-user"></i> Cliente:
                                {{cotizacionSeleccionada.cliente}}</h5>
                            <h5> <i class="fa fa-id-card"></i> Documento:
                                {{cotizacionSeleccionada.clienteDocumento}}</h5>
                            <hr>

                        </div>

                        <!-- WIDGETS DATA INFO -->
                        <div class="col-12">
                            <div class="row">

                                <div class="col-lg-2 col-md-6">
                                    <div class="card border-bottom border-info">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                                <div>
                                                    <h4 class="font-weight-bold">
                                                        <span class="font-weight-bold"
                                                            *ngIf="cotizacionSeleccionada.diasUltimaFechaFactura > 0">
                                                            <!-- Hace
                                                            {{cotizacionSeleccionada.diasUltimaFechaFactura}} días -->
                                                            {{cotizacionSeleccionada.fechaUltimaFactura | date :
                                                            'dd/MM/yyyy'}}
                                                        </span>
                                                        <small class="font-weight-bold"
                                                            *ngIf="cotizacionSeleccionada.diasUltimaFechaFactura  <= 0">
                                                            No hay factura
                                                        </small>
                                                    </h4>
                                                    <h6 class="text-info">Última factura</h6>
                                                </div>
                                                <div class="ml-auto"><span class="text-info display-6"><i
                                                            class="ti-calendar"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6">
                                    <div class="card border-bottom border-cyan">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                                <div>
                                                    <h3 class="font-weight-bold">{{cotizacionSeleccionada.limiteCredito
                                                        |
                                                        number:'1.2-2' }}</h3>
                                                    <h6 class="text-cyan">Límite</h6>
                                                </div>
                                                <div class="ml-auto"><span class="text-cyan display-6"><i
                                                            class="ti-money"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6">
                                    <div class="card border-bottom border-success">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                                <div>
                                                    <h3 class="font-weight-bold"> {{totalPendientePagar | number:'1.2-2'
                                                        }}</h3>
                                                    <h6 class="text-success">Pendiente</h6>
                                                </div>
                                                <div class="ml-auto"><span class="text-success display-6"><i
                                                            class="ti-wallet"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6">
                                    <div class="card border-bottom border-orange">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                                <div>
                                                    <h3 class="font-weight-bold">{{ cotizacionSeleccionada.limiteCredito
                                                        -
                                                        cotizacionSeleccionada.totalNeto - totalPendientePagar
                                                        | number:'1.2-2' }}</h3>
                                                    <h6 class="text-orange">Balance</h6>
                                                </div>
                                                <div class="ml-auto"><span class="text-orange display-6"><i
                                                            class="ti-file"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6">
                                    <div class="card border-bottom border-primary">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                                <div>
                                                    <h3 class="font-weight-bold">{{ promedioDias | number:'1.2' }}</h3>
                                                    <h6 class="text-primary">Promedio días</h6>
                                                </div>
                                                <div class="ml-auto"><span class="text-primary display-6"><i
                                                            class="ti-bar-chart"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6">
                                    <div class="card border-bottom" [ngClass]=" {
                                        'border-success': porcentajeCalculado <= 35,
                                        'border-orange': porcentajeCalculado > 35 && porcentajeCalculado <= 65,
                                        'border-danger': porcentajeCalculado > 65 }">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-12">
                                                    <h3 class="font-weight-bold" [ngClass]=" {
                                                        'text-success': porcentajeCalculado <= 35,
                                                        'text-orange': porcentajeCalculado > 35 && porcentajeCalculado <= 65,
                                                        'text-danger': porcentajeCalculado > 65 }">
                                                        {{ porcentajeCalculado | number : '1.0-0' }}%
                                                    </h3>
                                                    <h6 style="font-size: 10px;" [ngClass]=" {
                                                        'text-success': porcentajeCalculado <= 35,
                                                        'text-orange': porcentajeCalculado > 35 && porcentajeCalculado <= 65,
                                                        'text-danger': porcentajeCalculado > 65 }">Porcentaje</h6>
                                                </div>
                                                <div class="col-12">
                                                    <div class="progress">
                                                        <div role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                            aria-valuemax="100" class="progress-bar" [ngClass]=" {
                                                                'bg-success': porcentajeCalculado <= 35,
                                                                'bg-orange': porcentajeCalculado > 35 && porcentajeCalculado <= 65,
                                                                'bg-danger': porcentajeCalculado > 65 }"
                                                            style="height: 6px;"
                                                            [ngStyle]="{'width': porcentajeCalculado + '%'}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <hr>
                        </div>

                        <!-- TABLA DEL PEDIDO -->
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <h4> Pedido
                                        <span style="font-size: 15px;"
                                            class="badge font-weight-bold badge-light badge-pill">
                                            {{cotizacionSeleccionada.totalNeto | currency }}
                                        </span>
                                    </h4>
                                </div>
                                <div class="col-12" [hidden]="loadingCotizacionDetalle">

                                    <div class="table-responsive" style="height: 100px;">
                                        <table class="table table-sm table-hover mb-0 no-wrap v-middle">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Artículo</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Total Neto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of cotizacionDetalles">
                                                    <td><span class="badge badge-light text-info ">{{item.id}}</span>
                                                    </td>
                                                    <td>
                                                        <span> {{item.articulo}}</span>
                                                    </td>
                                                    <td>
                                                        <span> {{item.cantidad}}</span>
                                                    </td>
                                                    <td>
                                                        <span> ${{item.precio | number:'1.2-2'}} </span>
                                                    </td>
                                                    <td>
                                                        <span class="font-weight-bold"> ${{item.totalNeto |
                                                            number:'1.2-2'}} </span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                                <!-- <div class="col-12 text-right">
                                    <hr>
                                    <h4 class="font-weight-bold">Total Pedido: $ {{cotizacionSeleccionada.totalNeto |
                                        number:'1.2-2' }}</h4>
                                </div> -->

                                <div class="col-12">
                                    <app-loading-listado [hidden]="!loadingCotizacionDetalle"></app-loading-listado>
                                </div>
                            </div>
                        </div>

                        <!-- TABLA FACTURAS PENDIENTES -->
                        <div class="col-lg-6 col-md-12">

                            <div class="row">

                                <div class="col-12">
                                    <h4> Facturas pendientes <span
                                            class="badge badge-info badge-pill">{{facturasPendientesPago.length}}</span>
                                    </h4>
                                </div>
                                <div class="col-12" [hidden]="loadingFacturasPendientesPago">

                                    <div class="table-responsive" style="height: 100px;">
                                        <table class="table table-sm table-hover mb-0 no-wrap v-middle">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Factura</th>
                                                    <th>Vencimiento</th>
                                                    <th>Total</th>
                                                    <th>Pagado</th>
                                                    <th>Pendiente</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of facturasPendientesPago">
                                                    <td><span class="badge badge-light text-info ">{{item.id}}</span>
                                                    </td>
                                                    <td>
                                                        <span> <b>#{{item.codigoReferencia}}</b></span>
                                                    </td>
                                                    <td>
                                                        <span> {{item.fechaVencimiento | date : 'dd/MM/yyyy'}}</span>
                                                    </td>
                                                    <td>
                                                        <span> ${{item.total | number:'1.2'}} </span>
                                                    </td>
                                                    <td>
                                                        <span> ${{item.pagos | number:'1.2'}}</span>
                                                    </td>
                                                    <td>
                                                        <span> ${{item.total - item.pagos | number:'1.2'}} </span>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                                <div class="col-12">
                                    <app-loading-listado [hidden]="!loadingFacturasPendientesPago">
                                    </app-loading-listado>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12 mt-2">
                            <!-- <h4> Autorización</h4> -->
                            <hr>
                        </div>

                        <!-- TIME LINE -->
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <h3 class="card-title">
                                    Histórico autorizaciones
                                </h3>

                                <div class="card-body pt-0">
                                    <div class="table-responsive" style="height: 300px;">
                                        <ul class="timeline timeline-right">
                                            <li class="timeline-item" *ngFor="let item of autorizacionHistorico">
                                                <div class="timeline-badge">
                                                    <i class="fa fa-circle"
                                                        [ngStyle]="{'color': item.estadoAutorizacionColor}"></i>
                                                </div>
                                                <div class="timeline-panel">
                                                    <div class="timeline-heading">
                                                        <h4 class="timeline-title">{{item.usuario}}</h4>
                                                        <p>

                                                            <small>
                                                                <i class="fa fa-circle"
                                                                    [ngStyle]="{'color': item.estadoAutorizacionColor}"></i>
                                                                {{item.estadoAutorizacion}}
                                                            </small>

                                                            <small class="text-muted">
                                                                <i class="fa fa-clock"></i>
                                                                {{item.fechaAutorizacion
                                                                | date : 'd MMM y, h:mm:ss a' }}
                                                            </small>
                                                        </p>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <p *ngIf="item.comentario"> <i class="fa fa-comment"></i>
                                                            {{item.comentario}}</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- tipo promesa -->
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="example-email">Tipo</label>
                                    <ng-select [(ngModel)]="cotizacionPromesaSelected" [items]="cotizacionPromesaTipos"
                                        [clearable]="false" bindLabel="nombre" bindValue="codigo"
                                        notFoundText="No resultados">
                                    </ng-select>
                                </div>
                                <div class="form-group col-6" [hidden]="cotizacionPromesaSelected != 2">
                                    <label>Fecha</label>
                                    <ejs-datepicker [(ngModel)]="fechaPromesaModel" [showClearButton]="false"
                                        [format]="'dd-MM-yyyy'"></ejs-datepicker>
                                </div>

                                <div class="form-group col-md-12">
                                    <!-- <label for="exampleFormControlTextarea1">Escribe tu comen</label> -->
                                    <textarea placeholder="Escribe tu comentario" class="form-control"
                                        [(ngModel)]="comentario" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">

                    <ng-template
                        [ngIf]="estadoAutorizacionAnterior && cotizacionSeleccionada.estadoAutorizacionId <= estadoAutorizacionAnterior.codigo">
                        <!-- <ng-template
                    [ngIf]="item.estadoAutorizacionId == 0 || item.estadoAutorizacionId == 1 && estadoAutorizacionUsuario > item.estadoAutorizacionId"> -->
                        <!-- ESTADO PENDIENTE-->

                        <button class="btn btn-sm btn-success m-1"
                            *ngIf="!cotizacionSeleccionada.cargando && (estadoAutorizacionUsuario >= cotizacionSeleccionada.estadoAutorizacionId)"
                            (click)="autorizar()">
                            <i class="fa fa-sm fa-check"></i> Autorizar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="cotizacionSeleccionada.cargando && isAutorizando" disabled
                            class="btn btn-success m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span>
                        </button>

                    </ng-template>


                    <ng-template
                        [ngIf]="cotizacionSeleccionada.estadoAutorizacionId == estadoAutorizacionUsuario && estadoAutorizacionAnterior">
                        <!-- <ng-template
                    [ngIf]="estadoAutorizacionUsuario == 2 && (item.estadoAutorizacionId == 1 || item.estadoAutorizacionId == 2)"> -->

                        <button *ngIf="!cotizacionSeleccionada.cargando" class="btn btn-sm btn-danger m-1"
                            (click)="desautorizar()">
                            <i class="fa fa-sm fa-times"></i> Desautorizar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="cotizacionSeleccionada.cargando && !isAutorizando " disabled
                            class="btn btn-warning m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span>
                        </button>

                    </ng-template>


                    <!-- <button type="button" class="btn btn-danger m-1" (click)="desautorizar()">Desautorizar</button>
                    <button type="button" class="btn btn-success m-1" (click)="autorizar()">Autorizar</button> -->
                </div>
            </div>
        </div>

        <app-loading-listado [hidden]="!cargandoAutorizacion"></app-loading-listado>

    </div>
</ng-template>