 
       <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6 col-lg-6 col-12">
                          <h4 class="card-title">Datos Contactos</h4>
                        </div>
                        <div class="col-md-6 col-lg-6 col-12 text-right">
                        </div>
                      </div>
                      <form class="form-row m-t-10" [formGroup]="FormContactos" (ngSubmit)="onSubmit()">
                   
 
                        <div class="row col-md-12" *ngFor="let contact of getContactFormControls(); let i = index" >
                          <fieldset class="hm-fieldset row">
                            <legend class="hm-legend">Contacto {{i+1}}:</legend>
                              <div [formGroup]="contact" class="form-row row col-md-12">
                                <div class="form-group  col-md-3">
                                  <label >Cedula</label>
                                  <input type="text" formControlName="documento" class="form-control form-control-sm"  
                                    [ngClass]="{ 'is-invalid': submitted && contact.documento.errors }" />
                                  <div *ngIf="submitted && contact.documento.errors" class="invalid-feedback">
                                    <div *ngIf="contact.documento.errors.required">
                                      El campo es obligatorio</div>
                                  </div>
                                  <div *ngIf="contact.documento.errors.cedulaestructura">Documento no
                                    válido</div>
                                  <div *ngIf="contact.documento.errors.minlength">Mínimo 9 caracteres
                                  </div>
                                  </div>  
                                <div class="form-group  col-md-3">
                                  <label >Nombres</label>
                                  <input type="text" formControlName="nombres" class="form-control form-control-sm" 
                                    [ngClass]="{ 'is-invalid': submitted && contact.nombres.errors }" />
                                  <div *ngIf="submitted && contact.nombres.errors" class="invalid-feedback">
                                    <div *ngIf="contact.nombres.errors.required">
                                      El campo es obligatorio</div>
                                  </div>
                                  </div>  
                    

                              <div class="form-group  col-md-3">
                                <label >Telefono</label>
                                <input type="text" formControlName="telefono" class="form-control form-control-sm" mask="(000) 000-0000"
                                  [ngClass]="{ 'is-invalid': submitted && contact.telefono.errors }" />
                                <div *ngIf="submitted && contact.telefono.errors" class="invalid-feedback">
                                  <div *ngIf="contact.telefono.errors.required">
                                    El campo es obligatorio</div>
                                </div>
                              </div>

                              <div class="form-group  col-md-3">
                                <label>Celular</label>
                                <input type="text" formControlName="celular" class="form-control form-control-sm" mask="(000) 000-0000"
                                  [ngClass]="{ 'is-invalid': submitted && contact.celular.errors }" />
                                <div *ngIf="submitted && contact.celular.errors" class="invalid-feedback">
                                  <div *ngIf="contact.celular.errors.required">
                                    El campo es obligatorio</div>
                                </div>
                              </div>

                              <div class="form-group  col-md-6">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="form-control form-control-sm"
                                  [ngClass]="{ 'is-invalid': submitted && contact.email.errors }" />
                                <div *ngIf="submitted && contact.email.errors" class="invalid-feedback">
                                  <div *ngIf="contact.email.errors.required">
                                    Email is required</div>
                                  <div *ngIf="contact.email.errors.email">
                                    Email must be a valid email address</div>
                                </div>
                              </div>

                            
                                <div class="form-group col-md-6">
                                  <label for="inputEmail4"> Puesto</label>
                                  <ng-select bindLabel="nombre" bindValue="codigo" [items]="puestos"
                                    [loading]="false" [clearable]="false"
                                    [ngClass]="{'form-control border-danger p-0' : submitted && f.puesto.errors }"
                                    notFoundText="No resultados" formControlName="puesto">
                                  </ng-select>
                                  <div *ngIf="submitted && f.puesto.errors" class="text-danger small">
                                    <div *ngIf="f.puesto.errors.required  ">El campo es
                                      obligatorio</div>
                                  </div>
                                </div>
                                
                              <div class="form-group  col-md-2  mt-1">
                                <button type="button"  (click)="removeContact(i)" class="btn btn-danger btn-round-sm btn-sm">
                                  <i class="fas fa-minus"></i> Eliminar
                                </button>
                              </div>
                            </div>
                          </fieldset>
  
                      </div>
                  
                        <div class="text-left my-3 col-md-12">

                          <button class="btn btn-success m-1" (click)="onAddContact()" type="button">
                            <i class="fas fa-plus"></i> Agregar contacto
                          </button>
                        </div>

                        <div class="form-group text-right col-md-12">
                          <hr />

                          <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar 
                          </button>

                          <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="submit">
                            <i class="fas fa-check"></i> Guardar
                          </button>
                          <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                          </button>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div> 
              {{FormContactos.value | json}}