<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6 align-middle">
                        <h4 class="card-title">Listado de pesajes</h4>
                    </div>

                    <div class="col-md-6 align-middle text-right">

                        <button (click)="prueba()" class="btn btn-light">Prueba</button>
                    </div>

                    <div class="col-12">
                        <!-- <span class="text-info small">Texto capturado: {{searchValue}}</span> -->
                        <div class="outer">
                            <div class="inner">
                                <input style="overflow: hidden; position: relative;" type="text" name="search"
                                    id="search" #search [(ngModel)]="searchValue">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-hover mb-0 no-wrap v-middle">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Artículo</th>
                                <th>Peso Canastos</th>
                                <th>Peso Balanza</th>
                                <th>Peso Neto</th>
                                <th>Usuario</th>

                            </tr>
                        </thead>
                        <tbody [hidden]="Cargando">

                            <tr *ngFor="let item of data">
                                <td><span class="badge badge-light text-info small">{{item.id}}</span></td>

                                <td>
                                    <span class="badge small" [ngClass]="{
                                        'badge-success': item.estado == 'Recibido',
                                        'badge-warning': item.estado == 'Sin Recibir',
                                        'badge-info': item.estado == 'Sincronizado SAP'
                                    }">
                                        {{item.estado}}
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">

                                        <!-- <i class="fa fa fa-3x text-light"></i> -->
                                        <div>
                                            <p class="font-bold mb-0 text-info">{{item.articulo | titlecase }}</p>
                                            <small>De <span class="font-weight-bold">{{item.almacenDesde}}</span>
                                                hasta <span class="font-weight-bold"> {{item.almacenHasta}} </span>
                                            </small>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <span> {{item.pesoCanastos}} Lb</span>
                                </td>
                                <td>
                                    <span> {{item.pesoBalanza}} Lb</span>
                                </td>
                                <td>
                                    <span> {{item.pesoNeto}} Lb</span>
                                </td>
                                <td>
                                    <span class="small font-weight-bold"> {{item.usuario}}</span>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>



                <app-loading-listado [hidden]="!Cargando"></app-loading-listado>

                <div class="row ">
                    <div class="col-md-8 col-xs-12 ">
                        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual"
                            [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getData()">
                        </ngb-pagination>
                    </div>

                    <div class="col-md-4 text-right d-none d-md-block  ">
                        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize"
                            (change)="getData()">
                            <option [ngValue]="5">5 registro por pagina</option>
                            <option [ngValue]="10">10 registro por pagina</option>
                            <option [ngValue]="15">15 registro por pagina</option>
                        </select>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>





<ng-template #modalDetalle let-modal>
    <div class="modal-header">
        <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/images/nutriciosa.png" style="width: 150px;" alt="Responsive image">
            </div>
        </div>
        <div class="row" *ngIf="!CargandoModal">

            <div class="col-md-12">
                <h2 class="font-weight-bold">{{articuloPesaje.articulo}} </h2>
                <div class="table-responsive">
                    <table class="table table-sm">

                        <tbody>

                            <tr>
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">Peso Canastos </span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold"> {{articuloPesaje.pesoCanastos}} Lb</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">Peso Balanza </span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold"> {{articuloPesaje.pesoBalanza}} Lb</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">Peso Neto </span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold text-info"> {{articuloPesaje.pesoNeto}} Lb</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">Vencimiento </span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold"> <i class="fa fa-calendar text-light"></i>
                                    {{articuloPesaje.fechaVencimiento | date}} Lb</td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">Almacén Salida </span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold"> {{articuloPesaje.almacenDesde}} </td>

                            </tr>
                            <tr>
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">Almacén Destino </span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold"> {{articuloPesaje.almacenHasta}} </td>
                            </tr>
                            <tr *ngFor="let otem of articuloPesajeDetalle">
                                <th scope="row">
                                    <h4>
                                        <span class="font-weight-bold">{{otem.nombre | titlecase}}</span>
                                    </h4>
                                </th>
                                <td class="font-weight-bold"> {{otem.pesoSeleccionado.nombre}} </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <ngx-barcode [bc-height]="50" [bc-value]="articuloPesaje.id.toString().padStart(10,'0')"
                            [bc-display-value]="false">
                        </ngx-barcode>
                    </div>
                    <!-- <div class="col-md-4">
                        <h2 class="text-right">
                            <span class="badge" [ngClass]="{
                                'badge-success': articuloPesaje.estado == 'Recibido',
                                'badge-warning': articuloPesaje.estado == 'Sin Recibir',
                                'badge-info': articuloPesaje.estado == 'Sincronizado SAP'
                            }">
                                {{articuloPesaje.estado}}
                            </span>
                        </h2>
                    </div> -->
                </div>
            </div>

        </div>

        <app-loading-listado [hidden]="!CargandoModal"></app-loading-listado>


    </div>
    <div class="modal-footer" *ngIf="!CargandoModal">

        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="button" (click)="recibirPesaje()">
            <i class="fas fa-check"></i> Confirmar
        </button>

        <!-- boton cargando -->
        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
            <span class="spinner-border spinner-border-sm"></span> Confirmando
        </button>

    </div>
</ng-template>