 
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-12">
            <h4 class="card-title">Datos Finanzas</h4> 
          </div>
          <div class="col-md-6 col-lg-6 col-12 text-right">
          </div>
        </div>
        <form class="form-row m-t-40" [formGroup]="FormFinanza" (ngSubmit)="onSubmit()">

          <div class="form-group col-md-6">
            <label for="tipoCondicionPagoId">Tipo condición de pago</label>
            <ng-select bindLabel="nombre" bindValue="codigo" [items]="TipoCondicionesPagos"
             placeholder="seleccione un tipo de condición"
              [loading]="loadingCondicionPagos" [clearable]="false"
              [ngClass]="{'form-control border-danger p-0' : submitted && f.tipoCondicionPagoId.errors }"
              notFoundText="No resultados" formControlName="tipoCondicionPagoId">
            </ng-select>
            <div *ngIf="submitted && f.tipoCondicionPagoId.errors" class="text-danger small">
              <div *ngIf="f.tipoCondicionPagoId.errors.required  ">El campo es
                obligatorio</div>
            </div>
          </div>
          <div class="form-group col-md-6" *ngIf="f.tipoCondicionPagoId.value==2">
            <label for="plazoId">Plazo</label>
            <ng-select bindLabel="nombre" bindValue="codigo" [items]="Plazos"
              [loading]="loadingPlazos" [clearable]="false"
              [ngClass]="{'form-control border-danger p-0' : submitted && f.plazoId.errors }"
              notFoundText="No resultados" formControlName="plazoId">
            </ng-select>
            <div *ngIf="submitted && f.plazoId.errors" class="text-danger small">
              <div *ngIf="f.plazoId.errors.required  ">El campo es
                obligatorio</div>
            </div>
          </div>

          <div class="form-group col-md-6" *ngIf="f.tipoCondicionPagoId.value==2">
            <label for="limiteCredito"><i class="fa fa-hashtag"></i> Límite
              Crédito</label>
            <input formControlName="limiteCredito" type="text" prefix="$ " mask="separator"
              thousandSeparator="," name="limiteCredito" id="limiteCredito"
              [ngClass]="{'is-invalid' : submitted && f.limiteCredito.errors,  'form-control':true  }">
            <div class="invalid-feedback" *ngIf="submitted && f.limiteCredito.errors">
              <div *ngIf="f.limiteCredito.errors.required">El campo es
                obligatorio</div>
            </div>
          </div>
             <!-- Anexos de cliente -->
             <div class="col-12"  *ngIf="f.tipoCondicionPagoId.value==2">

              <div class="row">

                  <!-- Anexos -->
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-8">
                              <hr>
                              <h6 class="font-weight-bold">Subir Anexos
                                  <span class="badge badge-info badge-pill">{{filesFromInput.length}}</span>
                              </h6>
                              <span style="position: relative; top: -8px; font-size: 14px;color: gray;font-weight: 600;">
                                Ej. foto cedula, registro mercantil...
                              </span>

                          </div>
                          <div class="col-4 text-right">
                              <hr>
                              <input accept="application/pdf,.png,.gif,.jpg,.jpeg" class="d-none" (change)="setFiles(file.files)"
                                  #file multiple type="file" />
                              <button (click)="file.click()" type="button" class="btn btn-light btn-sm"><i
                                      class="fa fa-upload"></i>
                              </button>
                          </div>

                          <ng-container *ngIf="filesFromInput.length>0; else elseTemplate2">

                              <div class=" row  col-md-12">
                                <div class="col-md-3  p-2 text-center" *ngFor="let item of filesFromInput; let i = index">

                                  <div class="row ml-1" *ngIf="!isImage(item)"  >
                                    <div class="card  border-secondary border rounded-sm"  style="width: 18rem;">
                                      <div style="background-image: url('assets/images/pdf.png');background-size: cover;
                                      min-height: 140px;
                                      background-repeat: no-repeat;
                                      background-position: center center;" class="card-img-top  img-responsive" alt="{{truncateString(item.name) }}"></div>
                                      <div class="card-body ">
                                        <h5 class="card-title" style="font-size: 13px; ">{{truncateString(item.name) }}</h5>
                                        <hr>
                                        <div class="col-12 text-center">
                                          <button class="btn btn btn-outline-danger btn-sm rounded" (click)="onDeleteitem(i)"><i class="fa fa-times  mr-1">Quitar</i></button>
                                          <button class="btn btn-outline-info btn-sm ml-2 rounded" (click)="onDeleteitem(i)"><i class="fa fa-eye mr-1"></i>Ver</button>
                                        </div>
                                 
                                      </div>
                                    </div>
                                  </div>
                                    <div class="row ml-1" *ngIf="isImage(item)">
                                      <div class="card  border-secondary border rounded-sm"  style="width: 18rem;">
                                        <div style="background-image: url({{item.url}});background-size: cover;
                                        min-height: 140px;
                                        background-repeat: no-repeat;
                                        background-position: center center;" class="card-img-top  img-responsive" alt="{{truncateString(item.name) }}"></div>
                                        <div class="card-body ">
                                          <h5 class="card-title" style="font-size: 13px; ">{{truncateString(item.name) }}</h5>
                                          <hr>
                                          <div class="col-12 text-center">
                                            <button class="btn btn btn-outline-danger btn-sm rounded" (click)="onDeleteitem(i)"><i class="fa fa-times  mr-1"></i>Quitar</button>
                                            <button class="btn btn-outline-info btn-sm ml-2 rounded" (click)="onDeleteitem(i)"><i class="fa fa-eye mr-1"></i>Ver</button>
                                          </div>
                                   
                                        </div>
                                      </div>
                                    </div>
                      
                                  </div>



                              </div>

                          </ng-container>
                          <ng-template #elseTemplate2>

                              <div class="col-12 text-center">
                                  <i class="fa fa-info-circle text-info fa-3x"></i>
                                  <h3>No hay anexos</h3>
                              </div>

                          </ng-template>



                      </div>
                  </div>

              </div>

          </div>

          <div class="form-group text-right col-md-12" >
            <hr />

            <button class="btn btn-light m-1" routerLink="../" type="button">
              <i class="fas fa-times"></i> Cancelar
            </button>

            <button *ngIf="!btnGuardarCargando" (click)="onSubmit()" class="btn btn-info m-1" type="submit">
              <i class="fas fa-check"></i> Guardar
            </button>

            <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
              <span class="spinner-border spinner-border-sm"></span> Guardando
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div> 