<div class="row">
    <div class="control-section">
        <div id="control_wrapper">
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" routerLink="../"><i class="fa fa-arrow-left"></i> Regresar</button>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-12">
                        <h4 class="card-title">Formulario de ordenes de compras</h4>
                    </div>
                    <div class="col-md-6 col-lg-6 col-12 text-right">

                    </div>
                </div>
                <!--<h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6>-->
                <div class="form-row m-t-40">

                    <!-- <div class="form-group col-md-6">
                        <label for="codigoReferencia"> <i class="fa fa-hashtag"></i> Código de Referencia</label>
                        <input formControlName="codigoReferencia" type="text" name="codigoReferencia"
                            id="codigoReferencia"
                            [ngClass]="{'is-invalid' : submitted && f.codigoReferencia.errors,  'form-control':true  }">
                        <div class="invalid-feedback" *ngIf="submitted && f.codigoReferencia.errors">
                            <div *ngIf="f.codigoReferencia.errors.required">El campo es obligatorio</div>
                        </div>
                    </div> -->


                    <div class="col-12 mb-2" *ngIf="usuario">
                        <div class="row border border-light p-2">

                            <div class="col-12">
                                <h4 class="card-subtitle">
                                    <span class="badge badge-info">Datos del solicitante</span>
                                </h4>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="nombre"><i class="fa fa-hashtag"></i> Código</label>
                                <input [(ngModel)]="usuario.codigoReferencia" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}" name="nombre">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="nombre"> <i class="fa fa-user"></i> Nombres</label>
                                <input [(ngModel)]="usuario.nombres +' '+ usuario.apellidos" class="form-control"
                                    [readonly]="'true'" type="text" [ngModelOptions]="{standalone: true}" name="nombre">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="nombre"> <i class="fa fa-id-card"></i> Doc.</label>
                                <input [(ngModel)]="usuario.documento" class="form-control" [readonly]="'true'"
                                    type="text" [ngModelOptions]="{standalone: true}" name="nombre">
                            </div>

                            <div class="form-group col-md-2">
                                <label for="departamentoID"> <i class="fa fa-warehouse"></i> Dep. </label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="departamentos"
                                    [disabled]="true" [(ngModel)]="usuario.departamentoID"
                                    [ngModelOptions]="{standalone: true}" [loading]="loadingDepartamentos"
                                    notFoundText="No resultados">
                                </ng-select>
                            </div>

                        </div>
                    </div>

                    <div class="col-12" *ngIf="ordenCompra">
                        <div class="row border border-light p-2">
                            <div class="col-12">
                                <h4 class="card-subtitle">
                                    <span class="badge badge-info">Destino de la compra</span>
                                </h4>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="sucursalID"> Sucursal </label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="sucursales"
                                    [loading]="loadingSucursales" [clearable]="false" notFoundText="No resultados"
                                    [readonly]="true" [(ngModel)]="ordenCompra.sucursalID">
                                </ng-select>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="departamentoID"> Departamento </label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="departamentos"
                                    [loading]="loadingDepartamentos" [clearable]="false" notFoundText="No resultados"
                                    [readonly]="true" [(ngModel)]="ordenCompra.departamentoID">
                                </ng-select>
                                <!-- <div *ngIf="submitted && f.departamentoID.errors" class="text-danger small">
                                    <div *ngIf="f.departamentoID.errors.required  ">El campo es obligatorio</div>
                                </div> -->
                            </div>

                        </div>
                    </div>

                    <div class="col-12" *ngIf="ordenCompra">
                        <div class="row border border-light p-2">
                            <div class="col-12">
                                <h4 class="card-subtitle">
                                    <span class="badge badge-info">Otros datos</span>
                                </h4>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="proveedorID"> Proveedor </label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="proveedores"
                                    [(ngModel)]="ordenCompra.proveedorID" [loading]="loadingProveedores"
                                    [clearable]="false" notFoundText="No resultados">
                                </ng-select>
                                <!-- <div *ngIf="submitted && f.proveedorID.errors" class="text-danger small">
                                    <div *ngIf="f.proveedorID.errors.required  ">El campo es obligatorio</div>
                                </div> -->
                            </div>

                            <div class="form-group col-md-6">
                                <label for="compradorID"> Comprador </label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="compradores"
                                    [loading]="loadingCompradores" [clearable]="false"
                                    [(ngModel)]="ordenCompra.compradorID" notFoundText="No resultados">
                                </ng-select>
                                <!-- <div *ngIf="submitted && f.compradorID.errors" class="text-danger small">
                                    <div *ngIf="f.compradorID.errors.required  ">El campo es obligatorio</div>
                                </div> -->
                            </div>

                            <div class="form-group col-6">
                                <label>Fecha de entrega</label>
                                <ejs-datepicker [showClearButton]="false" [(ngModel)]="ordenCompra.fechaEntrega"
                                    [format]="'dd-MM-yyyy'" [min]='fechaActual'>
                                </ejs-datepicker>
                                <!-- <div *ngIf="submitted && f.fechaEntrega.errors"
                                    class="text-danger small animated animated--fade-in">
                                    <div *ngIf="f.fechaEntrega.errors.required">El campo es obligatorio</div>
                                    <div *ngIf="f.fechaEntrega.errors.min">La fecha no puede ser menor a la actual</div>
                                </div> -->
                            </div>


                            <div class="form-group col-md-6">
                                <label for="tipoSolicitudID"> Tipo de solicitud </label>
                                <ng-select bindLabel="nombre" bindValue="codigo" [items]="solicitudCompraTipos"
                                    [loading]="loadingSolicitudCompraTipo" [clearable]="false" [readonly]="true"
                                    [(ngModel)]="ordenCompra.tipoSolicitudID" notFoundText="No resultados">
                                </ng-select>
                                <!-- <div *ngIf="submitted && f.tipoSolicitudID.errors" class="text-danger small">
                                    <div *ngIf="f.tipoSolicitudID.errors.required  ">El campo es obligatorio</div>
                                </div> -->
                            </div>


                        </div>
                    </div>

                    <div class="form-group col-md-12" *ngIf="ordenCompra && ordenCompra.tipoSolicitudID == 2">
                        <label for="comentario"> Comentario</label>

                        <textarea readonly="true" formControlName="comentario" class="form-control" name="comentario"
                            id="comentario" rows="3">
                        </textarea>
                        <!-- <div class="invalid-feedback" *ngIf="submitted && f.comentario.errors">
                            <div *ngIf="f.comentario.errors.required">El campo es obligatorio</div>
                        </div> -->
                    </div>

                    <div class="col-12 table-responsive">

                        <table class="table table-hover mb-0 no-wrap v-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Artículo</th>
                                    <th scope="col">Cant.</th>
                                    <th scope="col">Costo</th>
                                    <th scope="col">Desc.</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Total Desc.</th>
                                    <th scope="col">Total Neto.</th>
                                    <!-- <th scope="col"></th> -->
                                    <!-- <th scope="col">Fecha de aplicación</th> -->
                                </tr>
                            </thead>

                            <tbody>

                                <!-- <tr *ngFor="let item of confirmed | filter: searchText; let i  = index"> -->
                                <tr *ngFor="let item of ordenCompraDetalles let i=index">
                                    <td>
                                        <ng-select style="width: 500px;" [items]="articulosDeCompra" bindLabel="nombre"
                                            [disabled]="true" [clearable]="false" bindValue="id"
                                            [loading]="loadingArticulosDeCompra" [(ngModel)]="item.articuloID"
                                            [ngModelOptions]="{standalone: true}" notFoundText="No resultados">
                                        </ng-select>
                                    </td>
                                    <td>
                                        <!-- <input style="width: 70px;" type="text" class="form-control"
                                            [disabled]="!cantidadEditable" (keyup)="calcularTotal()" mask="separator"
                                            thousandSeparator="," [(ngModel)]="item.cantidad"
                                            [ngModelOptions]="{standalone: true}"> -->
                                        <span>{{item.cantidad}}</span>
                                    </td>
                                    <td>
                                        <input style="width: 100px;" type="text" class="form-control" prefix="$ "
                                            [(ngModel)]="item.costo" [ngModelOptions]="{standalone: true}"
                                            (keyup)="calcularTotal()" mask="separator" thousandSeparator=",">
                                    </td>
                                    <td>
                                        <input style="width: 60px;" type="number" class="form-control"
                                            [(ngModel)]="item.descuentoPorciento" [ngModelOptions]="{standalone: true}"
                                            (keyup)="calcularTotal()">
                                    </td>
                                    <td>
                                        <span>${{ item.subTotal | number:'1.2-2'}}</span>
                                    </td>
                                    <td>
                                        <span>${{ item.descuentoTotal | number:'1.2-2'}}</span>
                                    </td>

                                    <td>
                                        <span>${{ item.totalNeto | number:'1.2-2'}}</span>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="form-group text-right col-md-12" *ngIf="ordenCompra">
                        <hr>
                        <h4>Subtotal: $ {{ordenCompra.subTotal | number:'1.2-2' }}</h4>
                        <h4>Descuento: $ {{ordenCompra.descuentoTotal | number:'1.2-2' }}</h4>
                        <h4>Impuesto: $ {{ordenCompra.totalImpuesto | number:'1.2-2' }}</h4>
                        <h4 class="font-weight-bold">Total Neto: $ {{ordenCompra.totalNeto | number:'1.2-2' }}</h4>
                    </div>

                    <div class="col-12 text-right">
                        <hr>
                        <button (click)="openModal(modalUploadCotizaciones)" type="button" class="btn btn-light"><i
                                class="fa fa-paperclip"></i> Adjuntar cotizaciones</button>
                    </div>


                    <div class="row" *ngIf="files.length > 0">
                        <div class="col-12">
                            <h6>Cotizaciones adjuntas</h6>
                        </div>
                        <div class="col-md-3 p-2 text-center border-light border rounded-sm"
                            *ngFor="let item of files; let i = index">

                            <div class="row">

                                <div class="col-12 text-right">
                                    <button class="btn btn-sm" (click)="onDeleteFileitem(i)"><i
                                            class="fa fa-times"></i></button>
                                </div>

                                <div class="col-12 text-center">
                                    <span>
                                        <i class="fa fa-file-pdf text-danger fa-3x"></i>
                                    </span>
                                    <h6 class="mt-2 text-info">{{item.name}}</h6>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="form-group text-right col-md-12">
                        <hr />

                        <button class="btn btn-light m-1" routerLink="../" type="button">
                            <i class="fas fa-times"></i> Cancelar
                        </button>

                        <button *ngIf="!btnGuardarCargando" class="btn btn-info m-1" type="button" (click)="onSubmit()">
                            <i class="fas fa-check"></i> Guardar
                        </button>

                        <!-- boton cargando -->
                        <button *ngIf="btnGuardarCargando" disabled class="btn btn-info m-1" type="button">
                            <span class="spinner-border spinner-border-sm"></span> Guardando
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>






<ng-template #modalUploadCotizaciones let-modal>
    <div class="container-fluid">
        <div class="row" *ngIf="!cargandoCotizaciones">
            <div class="col">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Subida de cotizaciones</h4>
                    <button type="button" class="close" aria-describedby="modal-title"
                        (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="box-part text-center">
                                <!-- <i class="fa text-success  fa-dollar-sign fa-3x" aria-hidden="true"></i> -->
                                <input accept="application/pdf" class="d-none" (change)="setFiles(file.files)" #file
                                    multiple type="file" />

                                <button class="btn btn-info" (click)="file.click()">
                                    <i class="fa fa-upload text-white"></i>
                                    Seleccionar archivos
                                </button>

                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- <div class="row">

                        <div class="col-md-6 p-2 text-center border-light border rounded-sm"
                            *ngFor="let item of files; let i = index">

                            <div class="row">

                                <div class="col-12 text-right">
                                    <button class="btn btn-sm" (click)="onDeleteFileitem(i)"><i
                                            class="fa fa-times"></i></button>
                                </div>

                                <div class="col-12 text-center">
                                    <span>
                                        <i class="fa fa-file-pdf text-danger fa-3x"></i>
                                    </span>
                                    <h6 class="mt-2 text-info">{{item.name}}</h6>
                                </div>

                            </div>

                        </div>

                    </div> -->

                    <!-- <div class="row mt-2">
                        <div class="col text-right">
                            <button type="button" class="btn btn-info" *ngIf="files.length > 0"
                                (click)="subirArchivosAlServidor()">
                                <span>Subir {{files.length}} archivo</span>
                                <span *ngIf="files.length > 1">s</span>
                            </button>
                        </div>
                    </div> -->


                    <div class="row" *ngIf="filesSubidos.length > 0">
                        <div class="col-12">
                            <hr>
                            <h6>Archivos subidos</h6>
                        </div>
                        <div class="col-md-6 p-2 text-center border-light border rounded-sm"
                            *ngFor="let item of filesSubidos; let i = index">

                            <div class="row">

                                <div class="col-12 text-right">

                                    <!-- <button (click)="downloadFile(item.id)" class="btn btn-sm btn-info"><i
                          class="fa fa-download"></i></button> -->

                                    <!-- <button class="btn btn-sm" (click)="onDeleteitemSubido(item.id,i)"><i
                          class="fa fa-times"></i></button> -->
                                </div>

                                <div class="col-12 text-center">
                                    <span>
                                        <i class="fa fa-file-pdf text-danger fa-3x"></i>
                                    </span>
                                    <h6 class="mt-2 text-info">{{item.nombre}}</h6>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <app-loading-listado [hidden]="!cargandoCotizaciones"></app-loading-listado>

    </div>
</ng-template>